table { 
  border-collapse: separate; 
  border-spacing: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

table thead th { 
  position: sticky; 
  top: 0; 
  z-index: 2; 
}

th, td { 
  border: 1px solid #ccc; 
  white-space: nowrap;
}

th { 
  background-color: #eee; 
}

th.active {  
  left: 0;  
  right: 0;
  z-index: 3;
  background-color:  hsl(180, 70%, 90%);
}

td.active {
  position: sticky; 
  left: 0; 
  right: 0;
  z-index: 1; 
  background-color: hsl(180, 100%, 98%);
}

th > div {
  display: flex;
  justify-content: space-between;
}

.sortButton {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding-block: 0px;
  margin-left: .5em;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
}

.sortButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}