table { 
  border-collapse: separate; 
  border-spacing: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

th { 
  position: sticky; 
  top: 0; 
  z-index: 2; 
}

th, td { 
  border: 1px solid #ccc; 
  background: #fff;
  white-space: nowrap;
}

th { 
  background-color: hsl(0, 0%, 93%);
}

th.active {  
  left: 0;  
  right: 0;
  z-index: 3;
  background: hsl(180, 70%, 75%);
}

td.active {
  position: sticky; 
  left: 0; 
  right: 0;
  z-index: 1; 
}

th > div {
  display: flex;
  justify-content: space-between;
}

th .highlight {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  border: 2px solid hsl(180, 50%, 55%);
  pointer-events: none;
}

.sortButton {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding-block: 0px;
  margin-left: .5em;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
}

.sortButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}